*{
  font-family: 'Roboto-Regular', sans-serif;
  margin: 0;
}

body{
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 14px;
  background-color: #fff;
  line-height: 145%;
  font-style: normal;
}

.nav{
  text-align: center;
  list-style: none;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 0px;
  padding: 0px;
}

.nav > li {
  display: inline-block;
}

.nav > li > div > a{
  text-decoration: none;
  color: #999;
}

.icon-link img:last-child{
  display: none;
}

.icon-link:hover img:first-child{
  display: none;
}

.icon-link:hover img:last-child{
  display: inline-block;
}

#icon{
  display: inline-block;
  float: left;
  margin-bottom: -25px;
  padding: 0px;
  border-left: 0px;
  padding-right: 30px;
}

.nav img{
  width: 110px;
  height: 65px;
}

#nav-border{
  top: 0px;
  position: sticky;
  border-bottom: 1px solid;
  border-color: #999;
  background: #abbaab;
  background: -webkit-linear-gradient(to bottom, #d1d1d1 , #ffffff);
  background: linear-gradient(to bottom, #d1d1d1 , #ffffff);
}

.nav > li > div {
  color: #999999;
  text-decoration: none;
  padding: 30px;
  font-size: 14px;
  border-color: #999999;
  border-left: 1px solid;
}

.nav > li > div:hover{
  background: #8fa38f;
  background: -webkit-linear-gradient(to bottom, #ccc , #bfbfbf);
  background: linear-gradient(to bottom, #ccc , #bfbfbf);
  color: #000000;
  border-color: #999999;
}

.nav > li > div:hover > a {
  color: #000000;
  text-decoration: none;
  border-color: #999999;
}

#last-menu-button{
  border-right: 1px solid;
  border-color: #999999;
}

.content{
  padding-left: 5%;
  padding-right: 5%;
}

.content > h1{
  margin-top: 30px;
}

#welcome-text > p {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border-top-color: rgb(109, 195, 44);
  -webkit-box-shadow: 0 4px 2px 1px rgb(232, 232, 232);
  -moz-box-shadow: 0 4px 2px 1px rgb(232, 232, 232);
  box-shadow: 0 4px 2px 1px rgb(232, 232, 232);
  margin-top: 30px;
  padding: 10px;
}

@media screen
  and (max-width: 800px){
    #welcome-text > p {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
    }
}
@media screen
  and (max-width: 480px){
    #welcome-text > p {
      column-count: 1;
      -webkit-column-count: 1;
      -moz-column-count: 1;
    }
}

#welcome-text > p > a {
  color: rgba(103, 199, 27, 0.81);
}

#welcome-text > p > a:hover {
  color: rgba(64, 120, 81, 0.81);
}

.sort-options-container{
  padding-top: 35px;
  padding-bottom: 35px;
}

.sort-options-1{
  color: rgb(151, 155, 158);
}

.sort-options-2{
  color: rgb(212, 212, 210);
  text-decoration: underline;
}

.sort-options-2:hover{
  text-decoration: none;
}

#my-table{
  border-collapse: collapse;
}

.table-row-start{
  border-bottom: 3px solid #ccc;
  font-weight: bold;
}

.table-row-start > td{
    padding: 10px;
}

.table-row{
  border-bottom: 1px solid #ddd;
}

.table-row > td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.table-row:hover{
  background-color: #eee;
}

.footer {
  border: 1px solid rgba(0, 0, 0, 0);
  border-top-color: rgb(109, 195, 44);
  margin-left: 5%;
  margin-right: 5%;
}
