*{
  font-family: 'Roboto-Regular', sans-serif;
}

 .nav{
   text-align: center;
   list-style: none;
   font-family: 'Roboto-Regular', sans-serif;
   font-size: 0px;
 }
body{
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 14px;
}

.nav > li {
  display: inline-block;
}

.nav > li > div > a{
  text-decoration: none;
  color: #999999;
}
.nav > li > div {
  color: #999999;
  text-decoration: none;
  padding: 30px;
  background-color: #e6e6e6;
  font-size: 14px;
}

.nav > li > div:hover{
  background-color: #bfbfbf;
  color: #000000;
}

.nav > li > div:hover > a {
  color: #000000;
  text-decoration: none;
}

#welcome-text > p{
  text-align: center;
}
