*{
  font-family: 'Roboto-Regular', sans-serif;
}

 .nav{
   text-align: center;
   list-style: none;
   font-family: 'Roboto-Regular', sans-serif;
   font-size: 0px;
 }
body{
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 14px;
}

.nav > li {
  display: inline-block;
}

.nav > li > div > a{
  text-decoration: none;
  color: #999999;
}
.nav > li > div {
  background: #abbaab;
  background: -webkit-linear-gradient(to bottom, #abbaab , #ffffff);
  background: linear-gradient(to bottom, #abbaab , #ffffff);
  color: #999999;
  text-decoration: none;
  padding: 30px;
  font-size: 14px;
}

.nav > li > div:hover{
  background: #8fa38f;
  background: -webkit-linear-gradient(to bottom, #8fa38f , #e3e8e3);
  background: linear-gradient(to bottom, #8fa38f , #e3e8e3);
  color: #000000;
}

.nav > li > div:hover > a {
  color: #000000;
  text-decoration: none;
}

.content{

}



#welcome-text > p{
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);;
  border-radius: 4px;
  border-top-color: rgb(109, 195, 44);
  -webkit-box-shadow: 0 4px 2px -2px gray;
  -moz-box-shadow: 0 4px 2px -2px gray;
  box-shadow: 0 4px 2px -2px gray;
}

#welcome-text > p > a {
  color: rgba(103, 199, 27, 0.81)
}

#welcome-text > p > a:hover {
  color: rgba(64, 120, 81, 0.81)
}
